body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    color: white;
}

.atm {
    background: #000000;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

input {
    padding: 8px;
    margin: 10px 0;
    width: 80%;
}

button {
    padding: 10px;
    margin: 5px;
    background: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 5px;
}

button:hover {
    background: #c0392b;
}
